* {
    box-sizing: border-box;
}

/* 
Paleta de colores
color: #272159;
color: #153323;
color: #27724E;
color: #460731;
color: #143285;
*/

html {
    scroll-behavior: smooth;
}

.gridContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas:
        "header"
        "bodyMain"
        "footer"
    ;
}

/* ----------------HEADER---------------- */

header {
    grid-area: header;
}

.navBarSmall {
    display: none;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    text-align: center;
    vertical-align: top;
}

.navBarSmall a:hover {
    color: #27724E;
    background-color: rgb(27, 27, 27);
    transition: 1s;
}

.navbar {
    --bs-navbar-padding-y: 1rem;
}

.navBarWide {
    width: 100%;
    height: 80px;
    background-color: #000;
    text-align: center;
    vertical-align: top;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.CajaNav {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navBarWide .CajaNav a {
    text-decoration: none;
    color: #fff;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.navBarWide .CajaNav a:hover {
    color: #27724E;
    background-color: rgb(27, 27, 27);
    transition: 1s;
}

.logoNav {
    vertical-align: middle;
    width: 50px;
    transition: 1s;
}

.logoNav:hover {
    width: 70px;
    transition: 1s;
}

/* ---------------/HEADER---------------- */
/* -------------------------------------- */
/* -----------------MAIN----------------- */

main {
    grid-area: bodyMain;
    color: #fff;
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../media/background.png);
    background-blend-mode: hard-light;
    background-size: contain;
}

.bloques {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 50px 50px 50px;
}

.bloqueInfo {
    width: 700px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    transition: 1s;
    margin: 10px 10px 10px 10px;
}

.bloqueInfo:hover {
    background-color: #2721595d;
    transition: 1s;
}

.bloqueInfo h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.bloqueForm {
    width: 700px;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: 1s;
    margin: 10px 10px 10px 10px;
    padding: 20px;
}

.bloqueForm:hover {
    background-color: #2721595d;
    transition: 1s;
}

/* ----------------/MAIN----------------- */
/* -------------------------------------- */
/* ----------------FOOTER---------------- */

footer {
    grid-area: footer;
    width: 100%;
    height: 80px;
    background-color: #272159;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconosRedes {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.iconosRedes i {
    font-size: 40px;
    color: #fff;
    margin-right: 30px;
    margin-left: 30px;
}

.iconosRedes i:hover {
    color: #27724E;
}

footer .logoFooter a{
    display: flex;
    align-items: center;
    justify-items: center;
}

footer .logoFooter a img {
    width: 50px;
    transition: 1s;
}

footer .logoFooter a img:hover {
    width: 70px;
    transition: 1s;
}

.infoFooterGrande {
    font-size: 15px;
    color: #fff;
}

.infoFooterChico {
    display: none;
    font-size: 15px;
    color: #fff;
}

/* ---------------/FOOTER---------------- */

.subir {
    height: 50px;
    width: 50px;
    border-radius: 10%;
    font-size: 40px;
    text-align: center;
    line-height: 53px;
    color: rgba(255, 255, 255, 0.5);
    position: fixed;
    right: 15px;
    bottom: 15px;
}

.subir:hover {
    color: #fff;
}

/* -------------MEDIA QUERIES------------ */

@media only screen and (max-width: 1539px) {

    .bloques {
        width: 100%;
        height: auto;
    }

    .bloqueInfo {
        height: 400px;
    }
}

@media only screen and (max-width: 970px) {

    .navBarWide {
        font-size: 15px;
    }

    .logoNav {
        width: 50px;
        margin-right: 20px;
    }

    .iconosRedes i {
        font-size: 30px;
        color: #fff;
        margin-right: 15px;
        margin-left: 15px;
    }

    footer img {
        width: 50px;
    }

    .infoFooterGrande {
        display: none;
    }

    .infoFooterChico {
        display: contents;
        font-size: 20px;
    }

}

@media only screen and (max-width: 700px) {

    .navBarWide a {
        margin-left: 20px;
        line-height: 0px;
    }

    .bloqueInfo {
        padding: 20px;
    }

    .bloqueInfo h2 {
        font-size: 20px;

    }
}

@media only screen and (max-width: 600px) {

    .iconosRedes i {
        font-size: 20px;
        margin-right: 10px;
        margin-left: 10px;
    }

    footer img {
        width: 40px;
    }

    .infoFooterChico {
        font-size: 15px;
    }
}

@media only screen and (max-width: 575px) {

    .navBarWide {
        display: none;
    }

    .navBarSmall {
        display: block;
    }

    .bloques {
        padding: 50px 10px 50px 10px;
    }
    
    .bloqueInfo {
        margin: 10px 0px 10px 0px;
    }
    
    .bloqueForm {
        margin: 10px 0px 10px 0px;
    }
    
}

@media only screen and (max-width: 410px) {

    .iconosRedes i {
        font-size: 15px;
        margin-right: 5px;
        margin-left: 5px;
    }

    footer img {
        width: 35px;
    }

    .infoFooterChico {
        font-size: 10px;
    }
}

/* 
Paleta de colores
color: #272159;
color: #153323;
color: #27724E;
color: #460731;
color: #143285;
*/