* {
    box-sizing: border-box;
}

/* 
Paleta de colores
color: #272159;
color: #153323;
color: #27724E;
color: #460731;
color: #143285;
*/

html {
    scroll-behavior: smooth;
}

.gridContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px calc(100vh - 80px) 1fr 80px;
    grid-template-areas:
        "header"
        "videoPortada"
        "bodyMain"
        "footer"
    ;
}

/* ----------------HEADER---------------- */

header {
    grid-area: header;
}

/* --------------NAVBAR WIDE------------- */

.navBarWide {
    width: 100%;
    height: 80px;
    background-color: #000;
    text-align: center;
    vertical-align: top;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.CajaNav {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.CajaNav a {
    text-decoration: none;
    color: #fff;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.CajaNav a:hover {
    color: #27724E;
    background-color: rgb(27, 27, 27);
    transition: 1s;
}

.logoNav {
    vertical-align: middle;
    width: 50px;
    transition: 1s;
}

.logoNav:hover {
    width: 70px;
    transition: 1s;
}

/* -------------/NAVBAR WIDE------------- */
/* --------------NAVBAR SMALL------------ */

.navbar {
    display: none;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    text-align: center;
    vertical-align: top;
}

.navbar a:hover {
    color: #27724E;
    background-color: rgb(27, 27, 27);
    transition: 1s;
}

.navbar {
    --bs-navbar-padding-y: 1rem;
}

/* -------------/NAVBAR SMALL------------ */
/* ---------------/HEADER---------------- */
/* -------------------------------------- */
/* ----------------PORTADA--------------- */
.portada {
    grid-area: videoPortada;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ---------------/PORTADA--------------- */
/* -------------------------------------- */
/* -----------------MAIN----------------- */

main {
    grid-area: bodyMain;
    color: #fff;
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../media/background.png);
    background-blend-mode: hard-light;
    background-size: contain;
}

/* ----------------RESUMEN--------------- */

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

h1:hover {
    background-color: #2721594b;
    border-radius: 10px;
}

.subtituloVanadio {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0px 0px 0px;
    padding: 0px;
}

main .descripcionVanadio {
    text-align: center;
    font-size: 30px;
    color: #272159;
    margin: 30px 300px 30px 300px;
    /* top right bottom left */
    padding: 50px;
    text-transform: lowercase;
}

main .descripcionVanadio:hover {
    background-color: #2721594b;
    color: #fff;
    border-radius: 10px;
}

/* ---------------/RESUMEN--------------- */
/* -------------ÚLTIMO VIDEO------------- */

.ultimoVideoTitulo {
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    padding: 20px;
}

.ultimoVideo {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    background-image: url(../media/background2.jpg);
}

/* .ultimoVideo:hover {
    background-color: rgba(92, 92, 92, 0.212);
} */

/* ------------/ÚLTIMO VIDEO------------- */
/* ---------------SLIDESHOW-------------- */

.carousel {
    background-color: rgba(92, 92, 92, 0.534);
    margin: 100px 0px 100px 0px;
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
}

/* --------------/SLIDESHOW-------------- */
/* ----------------/MAIN----------------- */
/* -------------------------------------- */
/* ----------------FOOTER---------------- */

footer {
    grid-area: footer;
    width: 100%;
    height: 80px;
    background-color: #272159;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconosRedes {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.iconosRedes i {
    font-size: 40px;
    color: #fff;
    margin-right: 30px;
    margin-left: 30px;
}

.iconosRedes i:hover {
    color: #27724E;
}

footer .logoFooter a{
    display: flex;
    align-items: center;
    justify-items: center;
}

footer .logoFooter a img {
    width: 50px;
    transition: 1s;
}

footer .logoFooter a img:hover {
    width: 70px;
    transition: 1s;
}

.infoFooterGrande {
    font-size: 15px;
    color: #fff;
}

.infoFooterChico {
    display: none;
    font-size: 15px;
    color: #fff;
}

/* ---------------/FOOTER---------------- */

.subir {
    height: 50px;
    width: 50px;
    border-radius: 10%;
    font-size: 40px;
    text-align: center;
    line-height: 53px;
    color: rgba(255, 255, 255, 0.5);
    position: fixed;
    right: 15px;
    bottom: 15px;
}

.subir:hover {
    color: #fff;
}

/* -------------MEDIA QUERIES------------ */

@media only screen and (max-width: 1284px) {
    .ultimoVideoItem {
        width: 800px;
    }

    .gridContainer {
        grid-template-rows: 80px auto 1fr 80px;
    }

    .imgSlideshow {
        width: 800px;
    }

    main .descripcionVanadio {
        margin: 30px 200px 30px 200px;
    }
}

@media only screen and (max-width: 970px) {

    .navBarWide {
        font-size: 15px;
    }

    main .descripcionVanadio {
        text-align: center;
        font-size: 30px;
        color: #272159;
        margin: 30px 100px 30px 100px;
    }

    .iconosRedes i {
        font-size: 30px;
        color: #fff;
        margin-right: 15px;
        margin-left: 15px;
    }

    footer img {
        width: 50px;
    }

    .infoFooterGrande {
        display: none;
    }

    .infoFooterChico {
        display: contents;
        font-size: 20px;
    }

}

@media only screen and (max-width: 840px) {
    h1 {
        font-size: 50px;
    }

    .subtituloVanadio {
        font-size: 17px;
    }

    main .descripcionVanadio {
        font-size: 25px;
        margin: 30px 100px 30px 100px;
    }

    .ultimoVideoTitulo {
        font-size: 40px;
    }

    .imgSlideshow {
        width: 500px;
    }

    .ultimoVideoItem {
        width: 500px;
    }
}

@media only screen and (max-width: 600px) {
    main .descripcionVanadio {
        font-size: 22px;
        margin: 10px 50px 10px 50px;
    }

    h1 {
        font-size: 35px;
    }

    .subtituloVanadio {
        font-size: 15px;
    }

    .ultimoVideoTitulo {
        font-size: 30px;
    }

    .iconosRedes i {
        font-size: 20px;
        margin-right: 10px;
        margin-left: 10px;
    }

    footer img {
        width: 40px;
    }

    .infoFooterChico {
        font-size: 15px;
    }
}

@media only screen and (max-width: 575px) {

    .navBarWide {
        display: none;
    }

    .navBarSmall {
        display: block;
    }
}

@media only screen and (max-width: 520px) {
    .imgSlideshow {
        width: 400px;
    }

    .ultimoVideoItem {
        width: 400px;
    }
}

@media only screen and (max-width: 480px) {
    main .descripcionVanadio {
        font-size: 17px;
        margin: 0px 20px 0px 20px;
    }

    h1 {
        font-size: 30px;
    }

    .subtituloVanadio {
        font-size: 13px;
    }

    .ultimoVideoTitulo {
        font-size: 25px;
    }
}

@media only screen and (max-width: 410px) {

    main .descripcionVanadio {
        font-size: 14px;
        margin: 0px 20px 0px 20px;
    }

    h1 {
        font-size: 25px;
    }

    .subtituloVanadio {
        font-size: 11px;
    }

    .ultimoVideoTitulo {
        font-size: 20px;
    }

    .imgSlideshow {
        width: 300px;
    }

    .ultimoVideoItem {
        width: 300px;
    }

    .iconosRedes i {
        font-size: 15px;
        margin-right: 5px;
        margin-left: 5px;
    }

    footer img {
        width: 35px;
    }

    .infoFooterChico {
        font-size: 10px;
    }
}

/* 
Paleta de colores
color: #272159;
color: #153323;
color: #27724E;
color: #460731;
color: #143285;
*/