* {
  box-sizing: border-box; }

/* ----------------HEADER---------------- */
header {
  grid-area: header; }
  header .navBarWide {
    width: 100%;
    height: 80px;
    background-color: #000;
    text-align: center;
    vertical-align: top;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    header .navBarWide .CajaNav {
      height: 100%;
      width: 40%;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      header .navBarWide .CajaNav a {
        text-decoration: none;
        color: #fff;
        height: 100%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s; }
        header .navBarWide .CajaNav a:hover {
          color: #27724E;
          background-color: #1b1b1b;
          transition: 1s; }
    header .navBarWide a .logoNav {
      vertical-align: middle;
      width: 50px;
      transition: 1s; }
      header .navBarWide a .logoNav:hover {
        width: 70px;
        transition: 1s; }
  header .navbar {
    display: none;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    text-align: center;
    vertical-align: top;
    --bs-navbar-padding-y: 1rem; }
    header .navbar .container-fluid a .logoNav {
      vertical-align: middle;
      width: 50px;
      transition: 1s; }
      header .navbar .container-fluid a .logoNav:hover {
        width: 70px;
        transition: 1s; }
    header .navbar .container-fluid a:hover {
      color: #27724E;
      background-color: #1b1b1b;
      transition: 1s; }

/* ----------------FOOTER---------------- */
footer {
  grid-area: footer;
  width: 100%;
  height: 80px;
  background-color: #272159;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  footer .iconosRedes {
    display: flex;
    flex-flow: row wrap;
    align-items: center; }
    footer .iconosRedes a i {
      font-size: 40px;
      color: #fff;
      margin-right: 30px;
      margin-left: 30px; }
      footer .iconosRedes a i:hover {
        color: #27724E; }
  footer .logoFooter a {
    display: flex;
    align-items: center;
    justify-items: center; }
    footer .logoFooter a img {
      width: 50px;
      transition: 1s; }
      footer .logoFooter a img:hover {
        width: 70px;
        transition: 1s; }
  footer .infoFooterGrande {
    font-size: 15px;
    color: #fff; }
  footer .infoFooterChico {
    display: none;
    font-size: 15px;
    color: #fff; }

/* ---------------/FOOTER---------------- */
html {
  scroll-behavior: smooth; }

.gridContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas: "header" "bodyMain" "footer"; }

/* -----------------MAIN----------------- */
main {
  grid-area: bodyMain;
  color: #fff;
  background-color: #000;
  font-family: 'Courier New', Courier, monospace;
  background-image: url(../media/background.png);
  background-blend-mode: hard-light;
  background-size: contain; }
  main .bloquesInfo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 40px 0px 40px 0px; }
    main .bloquesInfo .bloqueIndiv {
      width: 450px;
      height: 720px;
      margin: 10px 20px 10px 20px;
      padding: 40px 40px 40px 40px;
      background-color: rgba(255, 255, 255, 0.05);
      display: flex;
      flex-flow: column wrap;
      transition: 1s; }
      main .bloquesInfo .bloqueIndiv:hover {
        background-color: #2721595d;
        transition: 1s; }
      main .bloquesInfo .bloqueIndiv h2 {
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 10px 0px 30px 0px; }
      main .bloquesInfo .bloqueIndiv p {
        margin-right: 7px; }
  main .tituloIntegrantes {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    margin: 5px 0px 5px 0px; }
  main .principal {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 40px 0px 40px 0px; }
    main .principal .fundador {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.05);
      width: 600px;
      height: auto;
      margin: 0px 20px 0px 20px;
      padding: 40px 20px 40px 20px;
      transition: 1s; }
      main .principal .fundador:hover {
        background-color: #2721595d;
        transition: 1s; }
      main .principal .fundador img {
        width: 400px;
        border-radius: 1%;
        border: 3px solid #000; }
      main .principal .fundador h3 {
        font-size: 24px;
        font-weight: 600;
        margin: 20px 0px 20px 0px;
        text-align: center; }
      main .principal .fundador p {
        font-size: 16px;
        padding: 0px;
        margin: 0px;
        text-align: center; }
  main .secundario {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px 40px 0px; }
    main .secundario .colaborador {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: space-evenly;
      background-color: rgba(255, 255, 255, 0.05);
      width: 500px;
      height: auto;
      margin: 10px 40px 10px 40px;
      padding: 40px 20px 40px 20px;
      transition: 1s; }
      main .secundario .colaborador:hover {
        background-color: #2721595d;
        transition: 1s; }
      main .secundario .colaborador img {
        width: 350px;
        border-radius: 1%;
        border: 3px solid #000; }
      main .secundario .colaborador h4 {
        font-size: 20px;
        font-weight: 600;
        margin: 20px 0px 20px 0px;
        text-align: center; }
      main .secundario .colaborador p {
        font-size: 16px;
        padding: 0px;
        margin: 0px;
        text-align: center; }

.subir {
  height: 50px;
  width: 50px;
  border-radius: 10%;
  font-size: 40px;
  text-align: center;
  line-height: 53px;
  color: rgba(255, 255, 255, 0.5);
  position: fixed;
  right: 15px;
  bottom: 15px; }
  .subir:hover {
    color: #fff; }

/* ----------------/MAIN----------------- */
/* -------------------------------------- */
