* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

.gridContainerIndex {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px calc(100vh - 80px) 1fr 80px;
  grid-template-areas: "header" "videoPortada" "bodyMain" "footer"; }

.gridContainerGeneral {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas: "header" "bodyMain" "footer"; }

/* ----------------HEADER---------------- */
header {
  grid-area: header; }
  header .navBarWide {
    width: 100%;
    height: 80px;
    background-color: #000;
    text-align: center;
    vertical-align: top;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    header .navBarWide .CajaNav {
      height: 100%;
      width: 40%;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      header .navBarWide .CajaNav a {
        text-decoration: none;
        color: #fff;
        height: 100%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s; }
        header .navBarWide .CajaNav a:hover {
          color: #27724E;
          background-color: #1b1b1b;
          transition: 1s; }
    header .navBarWide a .logoNav {
      vertical-align: middle;
      width: 50px;
      transition: 1s; }
      header .navBarWide a .logoNav:hover {
        width: 70px;
        transition: 1s; }
  header .navbar {
    display: none;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    text-align: center;
    vertical-align: top;
    --bs-navbar-padding-y: 1rem; }
    header .navbar .container-fluid a .logoNav {
      vertical-align: middle;
      width: 50px;
      transition: 1s; }
      header .navbar .container-fluid a .logoNav:hover {
        width: 70px;
        transition: 1s; }
    header .navbar .container-fluid a:hover {
      color: #27724E;
      background-color: #1b1b1b;
      transition: 1s; }

main {
  grid-area: bodyMain;
  color: #fff;
  background-color: #000;
  font-family: 'Courier New', Courier, monospace;
  background-image: url(../media/background.png);
  background-blend-mode: hard-light;
  background-size: contain; }

/* ---------------SLIDESHOW-------------- */
.carousel {
  background-color: rgba(92, 92, 92, 0.534);
  margin: 100px 0px 100px 0px;
  padding: 20px;
  display: flex;
  justify-content: center; }

/* --------------/SLIDESHOW-------------- */
/* ----------------FOOTER---------------- */
footer {
  grid-area: footer;
  width: 100%;
  height: 80px;
  background-color: #272159;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "redes logo texto"; }
  footer .iconosRedes {
    grid-area: redes;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center; }
    footer .iconosRedes a {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      text-decoration: none; }
      footer .iconosRedes a i {
        font-size: 30px;
        color: #fff;
        margin-right: 0px;
        margin-left: 0px; }
  footer .fa-facebook:hover {
    color: #1b50fc; }
  footer .fa-instagram:hover {
    color: #e252f5; }
  footer .fa-youtube:hover {
    color: #ee2b2b; }
  footer .fa-vimeo:hover {
    color: #5ed1ff; }
  footer .fa-flickr:hover {
    color: #ff0077; }
  footer .logoFooter {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center; }
    footer .logoFooter a img {
      width: 50px;
      transition: 1s; }
      footer .logoFooter a img:hover {
        width: 70px;
        transition: 1s; }
  footer .infoFooter {
    grid-area: texto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }
    footer .infoFooter span {
      font-size: 15px;
      color: #fff;
      margin-top: 7px; }

/* ---------------/FOOTER---------------- */
.subir {
  height: 50px;
  width: 50px;
  border-radius: 10%;
  font-size: 40px;
  text-align: center;
  line-height: 53px;
  color: rgba(255, 255, 255, 0.5);
  position: fixed;
  right: 15px;
  bottom: 15px; }
  .subir:hover {
    color: #fff; }

/* -----------------INDEX----------------- */
/* ----------------PORTADA---------------- */
.portada {
  grid-area: videoPortada;
  height: 100%;
  width: 100%;
  object-fit: cover; }

/* ---------------/PORTADA---------------- */
/* ----------------/INDEX----------------- */
/* --------------------------------------- */
/* -----------------ABOUT----------------- */
.bloquesInfo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px; }
  .bloquesInfo .bloqueIndiv {
    width: 450px;
    height: 720px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 40px 40px 40px 40px;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-flow: column wrap;
    transition: 1s; }
    .bloquesInfo .bloqueIndiv:hover {
      background-color: #2721595d;
      transition: 1s; }
    .bloquesInfo .bloqueIndiv h2 {
      font-size: 30px;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 10px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px; }
    .bloquesInfo .bloqueIndiv p {
      margin-right: 7px; }

.tituloIntegrantes {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px; }

.principal, .secundario {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px; }
  .principal .fundador, .secundario .fundador, .secundario .colaborador {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.05);
    width: 600px;
    height: auto;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    padding: 40px 20px 40px 20px;
    transition: 1s; }
    .principal .fundador:hover, .secundario .fundador:hover, .secundario .colaborador:hover {
      background-color: #2721595d;
      transition: 1s; }
    .principal .fundador img, .secundario .fundador img, .secundario .colaborador img {
      width: 400px;
      border-radius: 1%;
      border: 3px solid #000; }
    .principal .fundador h3, .secundario .fundador h3, .secundario .colaborador h3 {
      font-size: 24px;
      font-weight: 600;
      margin-top: 20px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
      text-align: center; }
    .principal .fundador p, .secundario .fundador p, .secundario .colaborador p {
      font-size: 16px;
      padding: 0px;
      margin: 0px;
      text-align: center; }

.secundario {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px; }
  .secundario .colaborador {
    width: 500px;
    margin-top: 10px;
    margin-right: 40px;
    margin-bottom: 10px;
    margin-left: 40px; }
    .secundario .colaborador:hover {
      background-color: #2721595d;
      transition: 1s; }
    .secundario .colaborador img {
      width: 350px;
      border-radius: 1%;
      border: 3px solid #000; }
    .secundario .colaborador h4 {
      font-size: 20px;
      font-weight: 600;
      margin-top: 20px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
      text-align: center; }
    .secundario .colaborador p {
      font-size: 16px;
      padding: 0px;
      margin: 0px;
      text-align: center; }

/* ----------------/ABOUT----------------- */
/* --------------------------------------- */
/* -----------------REEL------------------ */
/* ----------------/REEL------------------ */
/* --------------------------------------- */
/* ---------------PROYECTOS--------------- */
/* --------------/PROYECTOS--------------- */
/* --------------------------------------- */
/* ---------------CONTACTO---------------- */
/* --------------/CONTACTO---------------- */
/* --------------------------------------- */
@media only screen and (max-width: 979px) {
  main .bloquesInfo .bloqueIndiv {
    height: auto; } }

@media only screen and (max-width: 970px) {
  header .navBarWide {
    font-size: 15px; }
  footer .iconosRedes a i {
    font-size: 25px;
    color: #fff; }
  footer .logoFooter a img {
    width: 50px; }
  footer .infoFooter {
    font-size: 20px; } }

@media only screen and (max-width: 620px) {
  main .tituloIntegrantes {
    font-size: 25px; }
  footer .iconosRedes a i {
    margin-right: 15px;
    margin-left: 15px; }
  footer .logoFooter a img {
    width: 40px; }
  footer .infoFooter {
    font-size: 15px; } }

@media only screen and (max-width: 575px) {
  header .navBarWide {
    display: none; }
  header .navbar {
    display: block; } }

@media only screen and (max-width: 510px) {
  main .tituloIntegrantes {
    font-size: 18px; }
  main .principal, main .secundario {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 40px 0px 40px 0px; }
    main .principal .fundador img, main .secundario .fundador img, .secundario main .principal .colaborador img, main .secundario .colaborador img {
      width: 300px; }
    main .principal .fundador h3, main .secundario .fundador h3, .secundario main .principal .colaborador h3, main .secundario .colaborador h3 {
      font-size: 18px; }
    main .principal .fundador p, main .secundario .fundador p, .secundario main .principal .colaborador p, main .secundario .colaborador p {
      font-size: 14px; }
  main .secundario {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px 40px 0px; }
    main .secundario .colaborador img {
      width: 250px; }
    main .secundario .colaborador h4 {
      font-size: 15px; }
    main .secundario .colaborador p {
      font-size: 12px; } }

@media only screen and (max-width: 485px) {
  footer .iconosRedes a i {
    font-size: 20px;
    margin-right: 13px;
    margin-left: 13px; } }

@media only screen and (max-width: 410px) {
  .bloquesInfo .bloqueIndiv {
    padding: 20px 20px 20px 20px; }
    .bloquesInfo .bloqueIndiv h2 {
      font-size: 20px; }
    .bloquesInfo .bloqueIndiv p {
      font-size: 12px; }
  main .tituloIntegrantes {
    font-size: 18px; }
  main .principal, main .secundario {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 40px 0px 40px 0px; }
    main .principal .fundador img, main .secundario .fundador img, .secundario main .principal .colaborador img, main .secundario .colaborador img {
      width: 230px; }
    main .principal .fundador h3, main .secundario .fundador h3, .secundario main .principal .colaborador h3, main .secundario .colaborador h3 {
      font-size: 17px; }
    main .principal .fundador p, main .secundario .fundador p, .secundario main .principal .colaborador p, main .secundario .colaborador p {
      font-size: 13px; }
  main .secundario {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px 40px 0px; }
    main .secundario .colaborador img {
      width: 200px; }
    main .secundario .colaborador h4 {
      font-size: 14px; }
    main .secundario .colaborador p {
      font-size: 12px; }
  footer .iconosRedes a i {
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px; }
  footer .logoFooter a img {
    width: 35px; }
  footer .infoFooter {
    font-size: 10px; } }
