@import "./base/generales";
@import "./base/layout";
@import "./base/maps";
@import "./components/header";
@import "./components/main";
@import "./components/slideshow";
@import "./components/footer";
@import "./components/botonUp";


/* -----------------INDEX----------------- */

/* ----------------PORTADA---------------- */

.portada {
    grid-area: videoPortada;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ---------------/PORTADA---------------- */

/* ----------------/INDEX----------------- */
/* --------------------------------------- */
/* -----------------ABOUT----------------- */

@mixin sizeMargin($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

.bloquesInfo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    @include sizeMargin(40px, 0px, 40px, 0px);

    .bloqueIndiv {
        width: 450px;
        height: 720px;
        @include sizeMargin(10px, 20px, 10px, 20px);
        padding: 40px 40px 40px 40px;
        background-color: map-get($estilos, colorFondo);
        display: flex;
        flex-flow: column wrap;
        transition: 1s;

        &:hover {
            background-color: map-get($estilos, colorHover);
            transition: 1s;
        }

        h2 {
            font-size: 30px;
            font-weight: 600;
            text-transform: uppercase;
            @include sizeMargin(10px, 0px, 30px, 0px);
        }

        p {
            margin-right: 7px;
        }
    }
}

.tituloIntegrantes {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    @include sizeMargin(5px, 0px, 5px, 0px);
}

.principal {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    @include sizeMargin(40px, 0px, 40px, 0px);

    .fundador {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        background-color: map-get($estilos, colorFondo);
        width: 600px;
        height: auto;
        @include sizeMargin(0px, 20px, 0px, 20px);
        padding: 40px 20px 40px 20px;
        transition: 1s;

        &:hover {
            background-color: map-get($estilos, colorHover);
            transition: 1s;
        }

        img {
            width: 400px;
            border-radius: 1%;
            border: 3px solid #000;
        }

        h3 {
            font-size: 24px;
            font-weight: 600;
            @include sizeMargin(20px, 0px, 20px, 0px);
            text-align: center;
        }

        p {
            font-size: 16px;
            padding: 0px;
            margin: 0px;
            text-align: center;
        }
    }
}

.secundario {
    @extend .principal;
    @include sizeMargin(20px, 0px, 40px, 0px);

    .colaborador {
        @extend .fundador;
        width: 500px;
        @include sizeMargin(10px, 40px, 10px, 40px);

        &:hover {
            background-color: map-get($estilos, colorHover);
            transition: 1s;
        }

        img {
            width: 350px;
            border-radius: 1%;
            border: 3px solid #000;
        }

        h4 {
            font-size: 20px;
            font-weight: 600;
            @include sizeMargin(20px, 0px, 20px, 0px);
            text-align: center;
        }

        p {
            font-size: 16px;
            padding: 0px;
            margin: 0px;
            text-align: center;
        }
    }
}

/* ----------------/ABOUT----------------- */
/* --------------------------------------- */
/* -----------------REEL------------------ */



/* ----------------/REEL------------------ */
/* --------------------------------------- */
/* ---------------PROYECTOS--------------- */



/* --------------/PROYECTOS--------------- */
/* --------------------------------------- */
/* ---------------CONTACTO---------------- */



/* --------------/CONTACTO---------------- */
/* --------------------------------------- */

@import "./base/_mediaqueries";