@import "./base/generales";
@import "./base/variables";
@import "./base/layout";
@import "./base/maps";
@import "./components/header";
@import "./components/main";
@import "./components/slideshow";
@import "./components/footer";
@import "./components/botonUp";


/* -----------------INDEX----------------- */

.portada {
    grid-area: videoPortada;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bloqueTitulo {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 80px 0px 80px 0px;

    .nombreVanadio {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        width: 1400px;
        height: auto;
        margin: 0px 20px 0px 20px;
        padding: 40px 0px 40px 0px;
        border-radius: 10px;
        transition: 0.5s;

        &:hover {
            background-color: $grisAlpha;
            color: $claro;
            transition: 0.5s;
        }

        h1 {
            text-align: center;
            text-transform: uppercase;
            font-family: $principal;
            font-weight: 800;
            font-size: 140px;
            letter-spacing: 30px;
            margin: 0px 0px 0px 30px;
            padding: 0px;
        }

        h2 {
            text-align: center;
            font-size: 40px;
            font-family: $principal;
            font-weight: 600;
            letter-spacing: 20px;
            text-transform: uppercase;
            margin: 20px 0px 0px 20px;
            padding: 0px;
        }
    }
}

.ultimoVideoTitulo {
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    padding: 20px;
}

.ultimoVideo {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    background-image: url(../media/background2.jpg);
}

/* ----------------/INDEX----------------- */
/* --------------------------------------- */
/* -----------------ABOUT----------------- */

@mixin sizeMargin($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

.bloqueAbout {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    @include sizeMargin(40px, 0px, 40px, 0px);

    .bloqueIndiv {
        width: 450px;
        height: 720px;
        @include sizeMargin(10px, 20px, 10px, 20px);
        padding: 40px 40px 40px 40px;
        background-color: map-get($estilos, colorFondo);
        display: flex;
        flex-flow: column wrap;
        transition: 0.5s;

        &:hover {
            background-color: map-get($estilos, colorHover);
            transition: 0.5s;
        }

        h2 {
            font-size: 30px;
            font-weight: 600;
            text-transform: uppercase;
            @include sizeMargin(10px, 0px, 30px, 0px);
            font-family: $principal;
        }

        p {
            margin-right: 7px;
            font-family: $secundaria;
        }
    }
}

.tituloIntegrantes {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-family: $principal;
    font-weight: 700;
    @include sizeMargin(5px, 0px, 5px, 0px);
}

.principal {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    @include sizeMargin(40px, 0px, 40px, 0px);

    .fundador {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        background-color: map-get($estilos, colorFondo);
        width: 600px;
        height: auto;
        @include sizeMargin(0px, 20px, 0px, 20px);
        padding: 40px 20px 40px 20px;
        transition: 0.5s;

        &:hover {
            background-color: map-get($estilos, colorHover);
            transition: 0.5s;
        }

        img {
            width: 400px;
            border-radius: 1%;
            border: 3px solid #000;
        }

        h3 {
            font-size: 24px;
            font-weight: 600;
            @include sizeMargin(20px, 0px, 20px, 0px);
            text-align: center;
            font-family: $principal;
        }

        p {
            font-size: 16px;
            padding: 0px;
            margin: 0px;
            text-align: center;
            font-family: $secundaria;
        }
    }
}

.secundario {
    @extend .principal;
    @include sizeMargin(20px, 0px, 40px, 0px);

    .colaborador {
        @extend .fundador;
        width: 500px;
        @include sizeMargin(10px, 40px, 10px, 40px);

        &:hover {
            background-color: map-get($estilos, colorHover);
            transition: 0.5s;
        }

        img {
            width: 350px;
            border-radius: 1%;
            border: 3px solid #000;
        }

        h4 {
            font-size: 20px;
            font-weight: 600;
            @include sizeMargin(20px, 0px, 20px, 0px);
            text-align: center;
            font-family: $principal;
        }

        p {
            font-size: 16px;
            padding: 0px;
            margin: 0px;
            text-align: center;
            font-family: $secundaria;
        }
    }
}

/* ----------------/ABOUT----------------- */
/* --------------------------------------- */
/* -----------------REEL------------------ */

.gridContainerGeneral {
    main {
        .videoReel {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 50px 0px 50px 0px;

            iframe {
                width: 80%;
                height: 945px;
            }
        }
    }
}

/* ----------------/REEL------------------ */
/* --------------------------------------- */
/* ---------------PROYECTOS--------------- */

.gridContainerGeneral {
    main {
        .videoclips {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;

            p {
                text-transform: uppercase;
                width: 100%;
                padding-top: 20px;
                padding-bottom: 20px;
                text-align: center;
                font-size: 20px;
                font-weight: 800;
                background-color: rgba(255, 255, 255, 0.1);

                a {
                    text-decoration: none;
                    color: #fff;
                    text-transform: uppercase;
                }
            }

            .frames1 {
                background-color: rgba(255, 255, 255, 0.1);
                width: 90%;
                padding: 50px;
                margin: 40px 0px 40px 0px;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                align-items: center;

                img {
                    width: 500px;
                    margin: 40px 40px 40px 40px;
                    border: 2px solid #000;
                    transition: 0.5s;

                    &:hover {
                        width: 600px;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}

/* --------------/PROYECTOS--------------- */
/* --------------------------------------- */
/* ---------------CONTACTO---------------- */

.gridContainerGeneral {
    main {
        .bloqueContacto {
            width: 100%;
            height: 1000px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
            padding: 50px 50px 50px 50px;

            .bloqueInfo {
                width: 700px;
                height: 500px;
                background-color: $grisAlpha;
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                transition: 0.5s;
                margin: 10px 10px 10px 10px;

                &:hover {
                    background-color: $claroAlpha;
                    transition: 0.5s;
                }

                h2 {
                    text-transform: uppercase;
                    font-size: 30px;
                    font-family: $principal;
                    font-weight: 800;
                    text-align: center;
                }
            }

            .bloqueForm {
                width: 700px;
                height: 700px;
                background-color: $grisAlpha;
                font-family: $secundaria;
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                transition: 0.5s;
                margin: 10px 10px 10px 10px;
                padding: 20px;

                &:hover {
                    background-color: $claroAlpha;
                    transition: 0.5s;
                }

                form {
                    button {
                        background-color: $oscuro;
                        border-color: $oscuro;
                    }
                }
            }
        }
    }
}

/* --------------/CONTACTO---------------- */
/* --------------------------------------- */

@import "./base/_mediaqueries";