* {
    box-sizing: border-box;
}

/* 
Paleta de colores
color: #272159;
color: #153323;
color: #27724E;
color: #460731;
color: #143285;
*/

html {
    scroll-behavior: smooth;
}

.gridContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas:
        "header"
        "bodyMain"
        "footer"
    ;
}

/* ----------------HEADER---------------- */

header {
    grid-area: header;
}

/* --------------NAVBAR WIDE------------- */

.navBarWide {
    width: 100%;
    height: 80px;
    background-color: #000;
    text-align: center;
    vertical-align: top;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.CajaNav {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.CajaNav a {
    text-decoration: none;
    color: #fff;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.CajaNav a:hover {
    color: #27724E;
    background-color: rgb(27, 27, 27);
    transition: 1s;
}

.logoNav {
    vertical-align: middle;
    width: 50px;
    transition: 1s;
}

.logoNav:hover {
    width: 70px;
    transition: 1s;
}

/* -------------/NAVBAR WIDE------------- */
/* --------------NAVBAR SMALL------------ */

.navbar {
    display: none;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    text-align: center;
    vertical-align: top;
}

.navbar a:hover {
    color: #27724E;
    background-color: rgb(27, 27, 27);
    transition: 1s;
}

.navbar {
    --bs-navbar-padding-y: 1rem;
}

/* -------------/NAVBAR SMALL------------ */
/* ---------------/HEADER---------------- */
/* -------------------------------------- */
/* -----------------MAIN----------------- */

main {
    grid-area: bodyMain;
    color: #fff;
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../media/background.png);
    background-blend-mode: hard-light;
    background-size: contain;
}

.bloquesInfo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 40px 0px 40px 0px;  
}

.bloqueIndiv {
    width: 450px;
    height: 720px;
    margin: 10px 20px 10px 20px;
    padding: 40px 40px 40px 40px;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-flow: column wrap;
    transition: 1s;
}

.bloqueIndiv:hover {
    background-color: #2721595d;
    transition: 1s;
}

.bloqueIndiv h2 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0px 30px 0px;
}

.bloqueIndiv p {
    margin-right: 7px;
}

/* -------------QUIENES SOMOS------------ */

.tituloIntegrantes {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    margin: 5px 0px 5px 0px;
}

.principal {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 40px 0px 40px 0px; 
}

.fundador {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.05);
    width: 600px;
    height: auto;
    margin: 0px 20px 0px 20px;
    padding: 40px 20px 40px 20px;
    transition: 1s;

}

.fundador:hover {
    background-color: #2721595d;
    transition: 1s;
}

.fundador img {
    width: 400px;
    border-radius: 1%;
    border: 3px solid #000;
}

.fundador h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0px 20px 0px;
    text-align: center;
}

.fundador p {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}   

.secundario {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px 40px 0px;
}

.colaborador {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.05);
    width: 500px;
    height: auto;
    margin: 10px 40px 10px 40px;
    padding: 40px 20px 40px 20px;
    transition: 1s;
}

.colaborador:hover {
    background-color: #2721595d;
    transition: 1s;
}

.colaborador img {
    width: 350px;
    border-radius: 1%;
    border: 3px solid #000;
}

.colaborador h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0px 20px 0px;
    text-align: center;
}

.colaborador p {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

/* ------------/QUIENES SOMOS------------ */
/* ----------------/MAIN----------------- */
/* -------------------------------------- */
/* ----------------FOOTER---------------- */

footer {
    grid-area: footer;
    width: 100%;
    height: 80px;
    background-color: #272159;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconosRedes {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.iconosRedes i {
    font-size: 40px;
    color: #fff;
    margin-right: 30px;
    margin-left: 30px;
}

.iconosRedes i:hover {
    color: #27724E;
}

footer .logoFooter a{
    display: flex;
    align-items: center;
    justify-items: center;
}

footer .logoFooter a img {
    width: 50px;
    transition: 1s;
}

footer .logoFooter a img:hover {
    width: 70px;
    transition: 1s;
}

.infoFooter {
    font-size: 15px;
    color: #fff;
}

/* ---------------/FOOTER---------------- */

.subir {
    height: 50px;
    width: 50px;
    border-radius: 10%;
    font-size: 40px;
    text-align: center;
    line-height: 53px;
    color: rgba(255, 255, 255, 0.5);
    position: fixed;
    right: 15px;
    bottom: 15px;
}

.subir:hover {
    color: #fff;
}

/* -------------MEDIA QUERIES------------ */

@media only screen and (max-width: 979px) {

    .bloqueIndiv {
        height: auto;
    }
}

@media only screen and (max-width: 970px) {

    .navBarWide {
        font-size: 15px;
    }

    .iconosRedes i {
        font-size: 30px;
        color: #fff;
        margin-right: 15px;
        margin-left: 15px;
    }

    footer img {
        width: 50px;
    }

    .infoFooterGrande {
        display: none;
    }

    .infoFooterChico {
        display: contents;
        font-size: 20px;
    }
}

@media only screen and (max-width: 620px) {

    .tituloIntegrantes {
        font-size: 25px;
    }

    .iconosRedes i {
        font-size: 20px;
        margin-right: 10px;
        margin-left: 10px;
    }

    footer img {
        width: 40px;
    }

    .infoFooterChico {
        font-size: 15px;
    }
}

@media only screen and (max-width: 575px) {

    .navBarWide {
        display: none;
    }

    .navBarSmall {
        display: block;
    }
}

@media only screen and (max-width: 510px) {

    .fundador img {
        width: 300px;
    }

    .fundador h3 {
        font-size: 18px;
    }

    .fundador p {
        font-size: 13px;
    }

    .colaborador img {
        width: 250px;
    }

    .colaborador h4 {
        font-size: 15px;
    }

    .colaborador p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 410px) {

    .bloqueIndiv {
        padding: 20px 20px 20px 20px;
    }

    .bloqueIndiv h2 {
        font-size: 20px;
    }

    .bloqueIndiv p {
        font-size: 12px;
    }

    .tituloIntegrantes {
        font-size: 18px;
    }

    .fundador img {
        width: 230px;
    }

    .fundador h3 {
        font-size: 17px;
    }

    .fundador p {
        font-size: 13px;
    } 

    .colaborador img {
        width: 200px;
    }

    .colaborador h4 {
        font-size: 14px;
    }

    .colaborador p {
        font-size: 12px;
    }

    .iconosRedes i {
        font-size: 15px;
        margin-right: 5px;
        margin-left: 5px;
    }

    footer img {
        width: 35px;
    }

    .infoFooterChico {
        font-size: 10px;
    }
}

/* 
Paleta de colores
color: #272159;
color: #153323;
color: #27724E;
color: #460731;
color: #143285;
*/