/* ----------------FOOTER---------------- */

@import "./base/maps";

footer {
    grid-area: footer;
    width: 100%;
    height: 80px;
    background-color: $oscuro;
    text-align: center;
    text-transform: uppercase;
    font-family: $secundaria;
    font-weight: 400;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas:
        "redes logo texto"
    ;


    .iconosRedes {
        grid-area: redes;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        a {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            i {
                font-size: 30px;
                color: $blanco;
                margin-right: 0px;
                margin-left: 0px;
            }
        }
    }

@each $nombre, $color in $redes {
    .fa-#{$nombre} {
        &:hover {
            color: $color;
        }
    }
}

    .logoFooter {
        grid-area: logo;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            img {
                width: 50px;
                transition: 0.5s;
                &:hover {
                    width: 70px;
                    transition: 0.5s;
                }
            }
        }
    }

    .infoFooter {
        grid-area: texto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        span {
            font-size: 15px;
            color: $blanco;
            margin-top: 7px;
        }
    }
}

/* ---------------/FOOTER---------------- */