main {
    grid-area: bodyMain;
    color: #fff;
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../media/background.png);
    background-blend-mode: hard-light;
    background-size: contain;
}