main {
    grid-area: bodyMain;
    color: $blanco;
    background-color: $negro;
    font-family: $principal;
    background-image: url(../media/background.png);
    background-blend-mode: hard-light;
    background-size: contain;
}