/* ---------------SLIDESHOW-------------- */

.carousel {
    background-color: $claro;
    margin: 3rem 3rem 3rem 3rem;
    padding: 10px;
    display: flex;
    justify-content: center;
}

/* --------------/SLIDESHOW-------------- */