/* ---------------SLIDESHOW-------------- */

.carousel {
    background-color: $claro;
    margin: 100px 100px 100px 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

/* --------------/SLIDESHOW-------------- */