$redes:(
    facebook: #1b50fc,
    instagram: #e252f5,
    youtube: #ee2b2b,
    vimeo: #5ed1ff,
    flickr: #ff0077
);

$estilos:(
    colorFondo: rgba(255, 255, 255, 0.05),
    colorHover: $oscuro,
);