/* -------------MEDIA QUERIES------------ */

@media only screen and (max-width: 1284px) {

    .gridContainerIndex {
        grid-template-rows: 80px auto 1fr 80px;

        main {
            .ultimoVideo {
                .ultimoVideoItem {
                    width: 800px;
                }
            }
        }
    }

}

@media only screen and (max-width: 980px) {
    .gridContainerIndex {
        main {
            .bloqueTitulo {
                .nombreVanadio {
                    h1 {
                        font-size: 100px;
                    }

                    h2 {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 840px) {

    .gridContainerIndex {
        main {
            .ultimoVideoTitulo {
                font-size: 40px;
            }

            .ultimoVideo {
                .ultimoVideoItem {
                    width: 500px;
                }
            }
        }
    }
}

@media only screen and (max-width: 770px) {
    .gridContainerIndex {
        main {
            .bloqueTitulo {
                .nombreVanadio {
                    h1 {
                        font-size: 70px;
                    }

                    h2 {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {

    .gridContainerIndex {
        main {
            .bloqueTitulo {
                .nombreVanadio {
                    h1 {
                        font-size: 50px;
                        letter-spacing: 15px;
                    }

                    h2 {
                        font-size: 10px;
                        letter-spacing: 10px;
                    }
                }
            }

            .ultimoVideoTitulo {
                font-size: 30px;
            }
        }
    }

}

@media only screen and (max-width: 520px) {

    .gridContainerIndex {
        main {
            .ultimoVideo {
                .ultimoVideoItem {
                    width: 400px;
                }
            }
        }
    }

}

@media only screen and (max-width: 480px) {

    .gridContainerIndex {
        main {
            .bloqueTitulo {
                .nombreVanadio {
                    h1 {
                        font-size: 30px;
                        letter-spacing: 15px;
                    }

                    h2 {
                        font-size: 8px;
                        letter-spacing: 10px;
                    }
                }
            }

            .ultimoVideoTitulo {
                font-size: 25px;
            }
        }
    }

}

@media only screen and (max-width: 410px) {

    .gridContainerIndex {
        main {
            h1 {
                font-size: 25px;
            }

            .subtituloVanadio {
                font-size: 11px;
            }

            .ultimoVideoTitulo {
                font-size: 20px;
            }

            .ultimoVideo {
                .ultimoVideoItem {
                    width: 300px;
                }
            }
        }
    }

}