// VARIABLES

// FUENTES

$principal: 'Noto Sans', sans-serif;
$secundaria: 'Roboto', sans-serif;
$extra: 'Philosopher', sans-serif;

// PALETA DE COLORES 

$oscuro: #005557;
$claro: #70A9A1;
$negro: #000;
$blanco: #fff;
$gris: #1b1b1b;

